"*":
  "autocomplete-plus":
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  core:
    disabledPackages: [
      "markdown-preview"
      "you-complete-me"
      "autocomplete"
      "autocomplete-clang"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 11
    preferredLineLength: 100
    showIndentGuide: true
  "exception-reporting":
    userId: "257e5f3c-92a8-4e9d-b7ad-bac83ed263b4"
  "git-blame":
    columnWidth: 257
  "linter-flake8":
    projectConfigFile: [
      "/home/emerson/dev/ros/master/src/ament/ament_lint/ament_flake8/ament_flake8/configuration/ament_flake8.ini"
    ]
  "linter-ui-default":
    panelHeight: 300
  "split-diff": {}
  "vim-mode-plus":
    ignoreCaseForSearch: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
